 /* Custon CSS for FAQ Section */
 body {
     background-color: #f8f9fa;
     padding-top: 80px;
     /* Prevent overlap with navbar */
 }

 .faq-section {
     max-width: 800px;
     margin: auto;
 }

 /* Accordion Item Style */
 .accordion-item {
     border-radius: 10px;
     overflow: hidden;
     margin-bottom: 1rem;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 }

 /* Question Box Style */
 .accordion-button {
     font-weight: 600;
     background-color: #343a40;
     color: white;
 }

 /* Question Box when Selected */
 .accordion-button:not(.collapsed) {
     background-color: #0a5cd7;
     color: #0b0a0a;
 }

 /* Answer Box Colour */
 .accordion-body {
     background-color: #ffffff;
 }

 h1 {
     text-align: center;
     margin-bottom: 40px;
     font-weight: 700;
 }